<div>
    <div>
        <h4>Con tu compra tienes un descuento disponible en la coleccion <a href="#">xxxx</a> </h4>
        <h4>Utiliza elñ cupon</h4>
        <div class="pcoupon_code">
            <p>DEscTotal2022</p>
        </div>
    </div>
</div>