<section class="product-quickview__container">
  <div class="slideout__trigger--close slideout__trigger-quickview__wrapper">
    <button class="slideout__trigger-quickview js-modal-close" aria-controls="modal-quickview" aria-label="Close quickview" tabindex="0" type="button" name="button">
      <div class="icn-close"></div>
    </button>
  </div>
  <div id="quickview-form" class="product-quickview__form-wrapper js-quickview-content">

  </div>
</section>
