<div class="reputon-google-reviews-widget" id="33b751c0-c91d-11ed-b4c9-59e9aca4f813" ></div>
{% schema %}
{"name":"Carousel with rating","presets":[{"name":"Carousel with rating","category":"Reputon for Google Reviews"}]}
{% endschema %}